<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Controls the skid steer robot -->
    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <updateRate>100.0</updateRate>
            <robotNamespace>/</robotNamespace>
            <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
            <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
            <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
            <rightRearJoint>rear_right_wheel_joint</rightRearJoint>
            <wheelSeparation>1.37</wheelSeparation>
            <wheelDiameter>0.215</wheelDiameter>
            <robotBaseFrame>base_link</robotBaseFrame>
            <torque>20</torque>
            <topicName>cmd_vel</topicName>
            <broadcastTF>false</broadcastTF>
        </plugin>

        <plugin name='skid_steer_drive' filename='libgazebo_ros_diff_drive.so'>
            <ros>
            <!-- Set namespace -->
            <namespace>/</namespace>

            <!-- Remap default topics -->
            <!-- <remapping>cmd_vel:=cmd_demo</remapping>
            <remapping>odom:=odom_demo</remapping> -->
            </ros>

            <!-- Update rate -->
            <update_rate>500</update_rate>

            <!-- Number of wheel pairs -->
            <num_wheel_pairs>2</num_wheel_pairs>

            <!-- wheels0 -->
            <left_joint>front_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>

            <!-- wheels1-->
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>rear_right_wheel_joint</right_joint>

            <!-- kinematics -->
            <wheel_separation>1.37</wheel_separation>
            <wheel_separation>1.37</wheel_separation>

            <wheel_diameter>0.25</wheel_diameter>
            <wheel_diameter>0.25</wheel_diameter>

            <!-- limits -->
            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>1.0</max_wheel_acceleration>

            <!-- output -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

      </plugin>

    </gazebo>

</robot>