<?xml version="1.0" ?>
<robot name="phoenixbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- include the core urdf file  -->
    <xacro:include filename="phoenixbot_core.xacro"/>


    <!-- include gazebo definition file -->
    <xacro:include filename="gazebo_control.xacro"/> 

    <!-- Includes -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/groundbot/ydlidar.xacro" />
    <xacro:include filename="$(find phoenixbot_description)/urdf/groundbot/zed2_camera.xacro" />
    <!-- <xacro:include filename="$(find phoenixbot_description)/urdf/gps.xacro" /> -->
    <xacro:include filename="robot_cameras.xacro"/>

    <!-- ydlidar -->
    <xacro:ydlidar_sensor parent="chassis">
        <origin xyz="0.49 0.0 0.3" rpy="0 0 0" />
    </xacro:ydlidar_sensor>

    <!-- gps -->
    <!-- <xacro:gps_sensor parent="base_link">
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </xacro:gps_sensor> -->

    <!-- front_camera -->
    <xacro:front_camera parent="chassis">
        <origin xyz="0.49 0.0 0.2" rpy="0 0 0"/>
    </xacro:front_camera>

    <!-- rear_camera -->
    <xacro:rear_camera parent="chassis">
        <origin xyz="-0.49 0.0 0.2" rpy="0 0 3.14"/>
    </xacro:rear_camera>

    <!-- downward_camera -->
    <xacro:downward_camera parent="chassis">
        <origin xyz="0.0 0.0 0.1" rpy="0 1.5708 0"/>
    </xacro:downward_camera>

</robot>
